# VarianceThreshold

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold

In [4]:
df = pd.read_csv("sample.csv")
df
#df.shape

     length  width  size  decimal  weight  height
0       5.1    3.5   1.4      0.2       5     148
1       4.9    3.0   1.4      0.2       5     193
2       4.7    3.2   1.3      0.2       5     182
3       4.6    3.1   1.5      0.2       5     170
4       5.0    3.6   1.4      0.2       5     140
..      ...    ...   ...      ...     ...     ...
145     6.7    3.0   5.2      2.3       5     192
146     6.3    2.5   5.0      1.9       5     140
147     6.5    3.0   5.2      2.0       5     149
148     6.2    3.4   5.4      2.3       5     189
149     5.9    3.0   5.1      1.8       5     189

[150 rows x 6 columns]

In [10]:
X = df.drop('height', axis=1).values
y = df['height'].values

In [23]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
selector = VarianceThreshold(threshold=0.1)
selector.fit(X_train)
selector.get_support()
#False means features with variance less than threshold
#So we want to get rid of features which are false

array([ True,  True,  True,  True, False])

In [24]:
df.drop("weight", axis=1)

     length  width  size  decimal  height
0       5.1    3.5   1.4      0.2     148
1       4.9    3.0   1.4      0.2     193
2       4.7    3.2   1.3      0.2     182
3       4.6    3.1   1.5      0.2     170
4       5.0    3.6   1.4      0.2     140
..      ...    ...   ...      ...     ...
145     6.7    3.0   5.2      2.3     192
146     6.3    2.5   5.0      1.9     140
147     6.5    3.0   5.2      2.0     149
148     6.2    3.4   5.4      2.3     189
149     5.9    3.0   5.1      1.8     189

[150 rows x 5 columns]